USE [SEED]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 1/9/2021 1:37:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[IdOrderDetail] [int] IDENTITY(1,1) NOT NULL,
	[IdOrder] [int] NULL,
	[IdSeed] [int] NULL,
	[Number] [int] NULL,
	[Price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrderDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Seeds]    Script Date: 1/9/2021 1:37:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seeds](
	[IdSeed] [int] IDENTITY(1,1) NOT NULL,
	[SeedName] [nchar](500) NULL,
	[IdTypeSeed] [int] NULL,
	[Price] [float] NULL,
	[Images] [nchar](500) NULL,
	[Information] [nchar](1000) NULL,
	[Number] [int] NULL,
 CONSTRAINT [PK__Seeds__A77805DFE44CA3E7] PRIMARY KEY CLUSTERED 
(
	[IdSeed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheOrders]    Script Date: 1/9/2021 1:37:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheOrders](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NULL,
	[FirstName] [nchar](150) NULL,
	[LastName] [nchar](150) NULL,
	[Address] [nchar](1000) NULL,
	[Phone] [nchar](12) NULL,
	[Price] [float] NULL,
	[OrderTime] [datetime] NULL,
	[StatusOrder] [nchar](50) NULL,
 CONSTRAINT [PK__TheOrder__C38F300996DB9FAE] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeSeeds]    Script Date: 1/9/2021 1:37:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeSeeds](
	[IdTypeSeed] [int] IDENTITY(1,1) NOT NULL,
	[TypeSeedName] [nchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTypeSeed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/9/2021 1:37:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nchar](150) NULL,
	[Password] [nchar](150) NULL,
	[FirstName] [nchar](150) NULL,
	[LastName] [nchar](150) NULL,
	[Address] [nchar](1000) NULL,
	[Phone] [nchar](12) NULL,
	[Email] [nchar](100) NULL,
	[Admin] [bit] NULL,
 CONSTRAINT [PK__Users__B7C92638E625CDFA] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([IdOrderDetail], [IdOrder], [IdSeed], [Number], [Price]) VALUES (26, 29, 13, 1, 10620)
INSERT [dbo].[OrderDetails] ([IdOrderDetail], [IdOrder], [IdSeed], [Number], [Price]) VALUES (27, 30, 2, 2, 50000)
INSERT [dbo].[OrderDetails] ([IdOrderDetail], [IdOrder], [IdSeed], [Number], [Price]) VALUES (28, 31, 17, 3, 10000)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Seeds] ON 

SET IDENTITY_INSERT [dbo].[Seeds] OFF
SET IDENTITY_INSERT [dbo].[TheOrders] ON 

SET IDENTITY_INSERT [dbo].[TheOrders] OFF
SET IDENTITY_INSERT [dbo].[TypeSeeds] ON 

INSERT [dbo].[TypeSeeds] ([IdTypeSeed], [TypeSeedName]) VALUES (1, N'Hoa                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ')
INSERT [dbo].[TypeSeeds] ([IdTypeSeed], [TypeSeedName]) VALUES (2, N'Rau                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ')
INSERT [dbo].[TypeSeeds] ([IdTypeSeed], [TypeSeedName]) VALUES (3, N'Cây ăn quả                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ')
SET IDENTITY_INSERT [dbo].[TypeSeeds] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__536C85E421BF851F]    Script Date: 1/9/2021 1:37:38 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E421BF851F] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Seeds] FOREIGN KEY([IdSeed])
REFERENCES [dbo].[Seeds] ([IdSeed])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Seeds]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_TheOrders] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[TheOrders] ([IdOrder])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_TheOrders]
GO
ALTER TABLE [dbo].[Seeds]  WITH CHECK ADD  CONSTRAINT [FK_Seeds_TypeSeeds] FOREIGN KEY([IdTypeSeed])
REFERENCES [dbo].[TypeSeeds] ([IdTypeSeed])
GO
ALTER TABLE [dbo].[Seeds] CHECK CONSTRAINT [FK_Seeds_TypeSeeds]
GO
ALTER TABLE [dbo].[TheOrders]  WITH CHECK ADD  CONSTRAINT [FK_TheOrders_Users] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[TheOrders] CHECK CONSTRAINT [FK_TheOrders_Users]
GO
